################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Numbers2Tasks/obj
/Numbers2Tasks.Tests/bin/Debug/net6.0
/Numbers2Tasks.Tests/obj
/.vs
/Numbers2Tasks/bin/Debug/net6.0
